@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Livros</h1>
</div>

<div class="text-lg-start">
    <a class="nav-link text-dark" asp-area="" asp-controller="Livro" asp-action="List">Listar Livros</a>
</div>