@model System.Collections.Generic.List<WebApp.Models.Dtos.LivroDto>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Lista de Livros</title>
</head>
<body>
<div>
      
</div>
</body>
</html>