@model WebApp.Models.Dtos.UsuarioDto

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir usuário</h1>

<h3>Tem certeza que deseja excluir este usuário?</h3>

<div>
    <table class="table">
        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.Login)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Senha)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.Senha)
        </dd>
    </table>
    <form asp-action="Delete">
        <input type="submit" value="Excluir" class="btn btn-danger"/> |
        <a asp-action="List">Voltar</a>
    </form>
</div>