<h2>Login de usuário</h2>

<form asp-action="Login" method="post">
    <input type="email" name="email" placeholder="Email" required />
    <input type="password" name="senha" placeholder="Senha" required />
    <button type="submit">Entrar</button>
</form>

<p>
    Ainda não tem uma conta? 
    <a asp-controller="Usuario" asp-action="Registrar">Cadastre-se aqui</a>.
</p>